body {
  background-color: white;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  margin: 0px;
}
html {
  width: 100%;
}
main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.form-container {
  min-width: 30rem;
  width: 30rem;
  height: 20rem;

  background-color: white;
  padding: 1rem;
  position: fixed;
  top: 100rem;
  bottom: 0rem;

  transition: top 1s;
}
/* .edit-form-container {
  min-width: 30rem;
  width: 30rem;
  height: 20rem;

  background-color: white;
  padding: 1rem;
  position: fixed;

  top: 100rem;
  transition: top 1s;
} */
.form {
  width: 100%;
  background-color: white;
  padding-top: 3rem;
  border-radius: 5px;
  border: 1px solid rgb(100, 110, 255);
  /* outline: none; */
}
.input {
  max-width: 25rem;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 2px solid rgb(100, 110, 255);
  outline: none;
}
.editForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 228, 228);
}
.borderTop {
  border-top: 1px solid black;
}

.editInput {
  /* max-width: 25rem; */
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid rgb(100, 110, 255);
  outline: none;
}
button {
  padding: 0.5rem;
  width: 5rem;
  font-family: sans-serif;
  cursor: pointer;
  background-color: white;
  color: rgb(255, 100, 255);
  border-radius: 5px;
  border: 2px solid rgb(255, 100, 255);
  transition-duration: 0.4s;
  outline: none;
}
button:hover {
  background-color: rgb(255, 100, 255);
  color: white;
}
.form-button {
  margin-bottom: 1rem;
}
.post-product {
  width: 10rem;
  font-size: 15px;
  margin: 0px;
  background-color: rgb(118, 77, 255);
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  background-color: rgb(118, 77, 255);
  color: rgb(255, 100, 255);
}
.product-card {
  border: 1px solid rgb(100, 110, 255);
  border-radius: 5px;
  min-width: 25rem;
  /* padding: 1rem; */
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.product-padding {
  padding: 1rem;
}
.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.product-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
